.container__list{
  width: 100%;
  background-color: rgba(128, 128, 128, 0.3);;
  height: 100%;
  min-height: 100vh;
  padding: 5rem 0;
  &--group{
    width: 50%;
    margin: 0 auto;
    .group__btn{
      padding: 1.5rem 2rem;
      text-align: right;
    }
    .group__list{
      padding: 1.5rem 1rem 1rem;
      .card__item{
        display: flex;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        align-items: center;
        margin-bottom: .5rem;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        width: 100%;
        &--img{
          margin-right: 1rem;
          img{
            border-radius: 100%;
          }
        }
        &--info{
          p{
            margin: .5rem 0;
          }
        }
        &--btns{
          margin-left: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          a:nth-child(1){
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .btn{
    padding: .8rem 1.2rem;
    background-color: #0791E6;
    color: white;
    border: none;
    font-weight: 900;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s;
    border-radius: 5px;
    text-decoration: none;
    &:hover{
      background-color: rgb(7, 120, 190);
    }
  }
  
  .btn-primary{
    width: 100%;
    background-color: green;
    transition: all .3s;
    &:hover{
      background-color: rgb(2, 107, 2);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }
  }
  
  .btn-danger{
    width: 100%;
    background-color: red;
    transition: all .3s;
    &:hover{
      background-color: rgb(196, 5, 5);
    }
  }
}

